.EmployeesItem-block-img {
  width: 150px;
  margin: 0 auto;
  padding: 10px 0;

  &__image {
    border-radius: 50%;
  }
}

.ui.card:hover {
  box-shadow: 0 0 30px #ccc;
}

.ui.card>.content.EmployeesItem-block-content {
  text-align: center;
}