.status-container {
  height: 100%;
  overflow: hidden;
  min-height: 100px;
  background-color: #e2e4e6;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  -webkit-border-radius: 3px;
  border-radius: 3px;

  &__title {
    padding: 5px 8px;
    text-align: center;
    font-weight: bold;
    white-space: normal;
  }
}

.task-items {
  padding: 10px;
  height: 95%;
  overflow-y: auto;
}

.task-container {
  width: 100%;
  margin: 0 auto 10px;
  background: #fff;
  min-height: 100px;
  height: 161px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
  position: relative;

  & .placeholder {
    height: 161px;
		background: rgba(208,208,208,1);
  }

  &:hover {
    background: #f7f7f7;
  }

  &__type {
    border-bottom: 1px solid #dbdbdb;
    font-weight: 600;
    padding: 3px 5px;
  }

  &__title {
    padding: 3px 7px;
    text-align: center;
  }

  &__employee {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &__img {
      height: 15px;
      width: auto;
      border-radius: 50%;
      position: absolute;
      bottom: 4px;
      left: 7px;
    }

    &__name {
      padding-left: 25px;
      font-size: 16px;
    }
  }

  &__description {
    padding: 3px 7px;
    max-height: 80px;
    overflow: hidden;
  }
}

.Task-page__dnd-container {
  position: absolute;
  top: 4rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

.Edit-task__button {
  position: absolute;
  bottom: 0;
  right: 20px;
}