body > div,
body > div > div,
body > div > div > div.login-form {
  height: 100%; }
body {
  background: #f7f7f7 !important; }
.field {
  text-align: left; }
.update-photo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 5px;
  text-align: center;
  opacity: 0;
  transition: opacity .13s ease-out;
  background: rgba(0, 0, 0, 0.6); }
  .update-photo:hover {
    background: rgba(0, 0, 0, 0.9); }
  .update-photo__title {
    display: inline-block;
    color: #fff;
    line-height: 40px; }
  .update-photo__input {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%; }
    .update-photo__input .update-photo__link {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }
      .update-photo__input .update-photo__link-block {
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
        height: 100%; }
        .update-photo__input .update-photo__link-block input {
          opacity: 0;
          height: 30px;
          font-size: 100px;
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0;
          cursor: inherit;
          outline: none; }
.card-user__img-width {
  width: 178px !important; }
.main-content {
  width: 1000px;
  margin: 0 auto; }
body > div.ui.bottom.center.flowing.popup.transition.visible.suir-calendar.popup,
body > div.ui.right.center.flowing.popup.transition.visible.suir-calendar.popup,
body > div.ui.left.center.flowing.popup.transition.visible.suir-calendar.popup {
  height: auto !important; }

body > div > div.ui.modal.transition.visible.active {
  height: auto;
  position: relative; }

.EmployeeEdit-form {
  display: flex; }
  .EmployeeEdit-form__description {
    padding-left: 15px;
    width: 218.39px; }
  .EmployeeEdit-form__photo {
    position: relative; }
    .EmployeeEdit-form__photo:hover .update-photo {
      opacity: 1; }
  .EmployeeEdit-form__button {
    position: absolute;
    bottom: 0;
    right: 0; }

.ant-select-selection.ant-select-selection--single {
  height: 38px; }
  .ant-select-selection.ant-select-selection--single .ant-select-selection-selected-value {
    line-height: 38px;
    height: 38px; }

.ant-select-selection__rendered {
  height: 38px; }
  .ant-select-selection__rendered .ant-select-selection__placeholder {
    height: 38px; }

.ui.modal {
  width: auto !important; }
.EmployeesItem-block-img {
  width: 150px;
  margin: 0 auto;
  padding: 10px 0; }
  .EmployeesItem-block-img__image {
    border-radius: 50%; }

.ui.card:hover {
  box-shadow: 0 0 30px #ccc; }

.ui.card > .content.EmployeesItem-block-content {
  text-align: center; }
.EmployeeAdd-form {
  display: flex; }
  .EmployeeAdd-form__description {
    padding-left: 15px;
    width: 218.39px; }
  .EmployeeAdd-form__photo {
    position: relative; }
    .EmployeeAdd-form__photo:hover .update-photo {
      opacity: 1; }
  .EmployeeAdd-form__button {
    position: absolute;
    bottom: 0;
    right: 0; }
.ui[class*="very padded"].segment.Segment-padding {
  padding-top: 20px; }

.Employees-line {
  padding: 7px 13px 0 13px !important; }
  .Employees-line__button {
    border-radius: 2.285714rem !important; }
  .Employees-line__project.ui.container {
    margin: 0 !important; }
.Projects-list__item {
  display: flex !important; }
  .Projects-list__item .content:nth-child(2) {
    flex: .5; }

.Projects-list__link {
  border-radius: 1.285714rem !important; }
