.EmployeeAdd-form {
  display: flex;

  &__description {
    padding-left: 15px;
    width: 218.39px;
  }

  &__photo {
    position: relative;

    &:hover .update-photo {
      opacity: 1;
    }
  }

  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}