.update-photo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 5px;
  text-align: center;
  opacity: 0;
  transition: opacity .13s ease-out;
  background: rgba(0, 0, 0, .6);

  &:hover {
    background: rgba(0, 0, 0, .9);
  }

  &__title {
    display: inline-block;
    color: #fff;
    line-height: 40px;
  }

  &__input {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;

    & .update-photo__link {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      &-block {
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;

        & input {
          opacity: 0;
          height: 30px;
          font-size: 100px;
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0;
          cursor: inherit;
          outline: none;
        }  
      }      
    }
  }
}

