.card-user__img-width {
  width: 178px !important;
}


@media only screen and (min-width: 1200px) {
  .ui.container.Projects-line {
    padding-top: 20px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .ui.text.container.Projects-line {
    max-width: 100% !important;
  }
}
