.ui[class*="very padded"].segment.Segment-padding {
  padding-top: 20px;
}


.Employees-line {
  padding: 7px 13px 0 13px !important;

  &__button {
    border-radius: 2.285714rem !important;
  }

  &__project.ui.container {
    margin: 0 !important;
  }
}