body > div.ui.bottom.center.flowing.popup.transition.visible.suir-calendar.popup,
body > div.ui.right.center.flowing.popup.transition.visible.suir-calendar.popup,
body > div.ui.left.center.flowing.popup.transition.visible.suir-calendar.popup {
  height: auto !important;
}

body > div > div.ui.modal.transition.visible.active {
  height: auto;
  position: relative;
}

.EmployeeEdit-form {
  display: flex;

  &__description {
    padding-left: 15px;
    width: 218.39px;
  }

  &__photo {
    position: relative;

    &:hover .update-photo {
      opacity: 1;
    }
  }

  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.ant-select-selection.ant-select-selection--single {
  height: 38px;

  & .ant-select-selection-selected-value {
    line-height: 38px;
    height: 38px;
  }
}

.ant-select-selection__rendered {
  height: 38px;

  & .ant-select-selection__placeholder {
    height: 38px;
  }
}

.ui.modal {
  width: auto !important;
}