.Add-task-container {
  display: flex;

  &__item:last-child {
    padding-left: 10px;
  }
}

.Add-task__button-popup {
  padding-top: 10px;
  height: 58px;
  position: relative;

    &__button {
      position: absolute;
      right: 0;
      bottom: 0;
    }
}

.Add-task__button {
  border-radius: 2.285714rem !important;
  margin-left: 20px !important;
  height: 31px !important;
}